# Node (si usás npm para algún tool)
node_modules/
package-lock.json
UX.fig

# JSONS de prueba
public/data/tesinas_filtradas.json
public/data/tesinas_old.json
public/data/tesinas_todas.json
public/data/tesinas_with_resumes.json


# Archivos del sistema
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Archivos temporales y de backup
*.log
*.tmp
*.bak
*.swp

# Cache del navegador o herramientas
.cache/
dist/
build/

# Archivos del entorno
.env
.env.*


# Imágenes de pruebas o exportaciones temporales
img/temp/
