body {
  font-family: 'Poppins', sans-serif;
}

.bg-custom-dark {
  background-color: #0F0F0F;
}

.title-xl {
  font-size: 96px;
  text-align: center;
}
.subtitle-md {
  font-size: 18px;
  text-align: center;
}

.text-accent {
  color: #8C0011;
}

.ellipse-shadow {
  width: 200px;
  height: 20px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  position: absolute;
  top: 120%; /* más abajo */
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}


.bg-doodles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* centra la imagen respecto al logo */
  max-width: 400px;
  z-index: 0;
  pointer-events: none;
  opacity: 1;
}

.logo-unlp {
  z-index: 2;
  position: relative;
}
