:root {
  --bg-color: #0f0f0f;
  --text-color: white;
  --text-secondary: #ccc;
}

html.theme-light {
  --bg-color: white;
  --text-color: black;
  --text-secondary: #555;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.subtitle-md {
  color: var(--text-secondary);
  font-size: clamp(1rem, 2vw, 1.25rem);
  line-height: 1.5;
  text-align: center;
}

html {
  font-size: 16px;
}

html.font-small {
  font-size: 12px;
}
html.font-medium {
  font-size: 16px;
}
html.font-large {
  font-size: 20px;
}

/* texto base que responde al tema */
.theme-text {
  color: var(--text-color);
}

button {
  font-size: 1em; /* hereda de html */
  font-family: "Poppins", sans-serif;
}

.font-btn {
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
  width: 100%;
  margin-bottom: 4px;
}

.active-btn {
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
  background-color: #8c0011;
  color: white;
  font-weight: bold;
}

.title-xl {
  font-size: clamp(2rem, 6vw, 6rem);
  text-align: center;
  line-height: 1.1;
}

.text-accent {
  color: #8c0011;
}

.image-stack {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 300px; /* ajustable */
}

.ellipse-shadow {
  width: clamp(100px, 25vw, 200px);
  height: 20px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.bg-doodles {
  z-index: 0;
  max-width: clamp(200px, 25vw, 600px);
  width: 100%;
  height: auto;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-unlp {
  z-index: 1;
  max-width: clamp(125px, 20vw, 300px);
  width: 100%;
  height: auto;
  position: relative;
}

.title-lg {
  font-size: clamp(2rem, 5vw, 4rem);
  text-align: center;
  line-height: 1.2;
  font-weight: 700;
}

.tesina-img {
  max-width: clamp(200px, 30vw, 400px);
  width: 100%;
  height: auto;
  position: relative;
  bottom: -40px;
  z-index: 1;
}

.bg-doodles-tesina {
  z-index: 0;
  max-width: clamp(200px, 30vw, 900px);
  width: 100%;
  height: auto;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.theme-wrapper {
  position: relative;
  display: inline-block;
}

.theme-ellipse {
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.theme-wrapper.active-theme .theme-ellipse {
  opacity: 1;
}

.theme-wrapper.active-theme .theme-icon {
  outline: 2px solid #ffffff;
  border-radius: 50%; /* para hacerlo circular */
}

.theme-icon {
  position: relative;
  z-index: 1;
}
